body{
    width: 500px;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    margin-right: 25px;
}

.grid-container > div {
    font-size: 20px;
    display:inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.txtbox {
    width:300px;
    height: 50px;
    align-self: center;
    justify-self: center;
}

.btncls{
    /*display: block;*/
    margin: 7px 10px;
    align-self: center;


    justify-self: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: yellow;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: pink;
}

input:focus + .slider {
    box-shadow: 0 0 1px pink;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.clibtn {
    align-self: center;
    justify-self: center;
    background-size: 26px;
    visibility: hidden;
    background-image: url(/img/cli.png);
    border: 1px solid #ddd;
    border: none;
    border-radius: 3px;
    height: 26px;
    width: 26px;
}

.clibtn:hover {
    box-shadow: 0 0 2px 1px blue;
}

.topbar {
    height: 50px;
    width: 100%
}

.errorbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    z-index: 1;
    color: black;
}
